In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
import xlrd

In [2]:
dataset =pd.read_csv("https://raw.githubusercontent.com/sushma-projects/ML-Projects/master/diabetes.csv")

In [3]:
dataset.shape

(2000, 9)

In [4]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [5]:
X = dataset.iloc[:, 0:8].values  
y = dataset.iloc[:, 8].values

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

In [8]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(n_estimators=100)  
classifier.fit(X_train, y_train)  
y_pred = classifier.predict(X_test)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))  
print(accuracy_score(y_test, y_pred))

[[272   0]
 [  2 126]]
              precision    recall  f1-score   support

           0       0.99      1.00      1.00       272
           1       1.00      0.98      0.99       128

   micro avg       0.99      0.99      0.99       400
   macro avg       1.00      0.99      0.99       400
weighted avg       1.00      0.99      0.99       400

0.995

     actual  predicted
0         0          0
1         0          0
2         1          1
3         1          1
4         1          1
5         0          0
6         0          0
7         0          0
8         0          0
9         0          0
10        0          0
11        1          1
12        0          0
13        0          0
14        0          0
15        0          0
16        0          0
17        0          0
18        1          1
19        1          1
20        1          1
21        1          1
22        0          0
23        0          0
24        0          0
25        1          1
26        0          0
27        1          1
28        0          0
29        1          1
..      ...        ...
370       1          1
371       0          0
372       1          1
373       1          1
374       1          1
375       0          0
376       0          0
377       1          1
378       0          0
379       0          0
380       0          0
381       0          0
382       1          1
383       1          1
384       0          0
385       1          1
386       0          0
387       0          0
388       0          0
389       1          1
390       1          1
391       0          0
392       1          1
393       1          1
394       0          0
395       1          1
396       1          1
397       1          1
398       1          1
399       0          0

[400 rows x 2 columns]