# 4/1/2020 
# Introduction to python programmming
## Introduction to python programmming
### Introduction to python programmming
#### Introduction to python programmming
##### Introducion to python programmming
##### Introducion to python programmming

***python(bold)***
**python(italic)**
*python*

#### Present Working Directory

In [15]:
pwd

'C:\\Users\\DELL'

#### Inserting an image

<img src="python-logo.jpg" height="250px" weight="250px"/>

- point1
- point2
    - point 2.1
    - point 2.2
- point 3

# python programming
- Python can be used as general programming
- Python more popular because of internal and external packages
- Python can be used as functional programming,OOP,scripting programming
- Python used in Data sciences ,Machine learning and AI
- Data sciences
    - Pandas
- Visualization
    - Matlib,scipy
- Multi dimensional programming
    - Numpy

In [17]:
print("hello")

hello

In [19]:
print("hello")
print("world")

hello
world

In [21]:
print("hello","world")

hello world

In [1]:
print("hello",end = ' ')
print("world")

hello world

### Datatypes in Python
    - Int
    - Float
    - String

In [24]:
x=100000000000000000000000
print(x,type(x))

100000000000000000000000 <class 'int'>

In [26]:
x=10.6598
print(x,type(x))

10.6598 <class 'float'>

In [28]:
s='a'
s1='Application'
print(s,type(s))
print(s1,type(s1))

a <class 'str'>
Application <class 'str'>

### Input function in python

- input()  which reads the input console and gives the output in terms of string format

In [29]:
s=input('enter your Name')
print(s,type(s))

enter your Namejyothi
jyothi <class 'str'>

In [31]:
s1=input('enter your CRN number')
print(s1,type(s1))

enter your CRN number123456
123456 <class 'str'>

### Type Conversions

- Int
    -It makes the input to integer class
- Float
    -It makes the input to float class
- Str
    -It makes the input to String class

In [32]:
s1=int(input('enter your CRN number'))
print(s1,type(s1))

enter your CRN number123456
123456 <class 'int'>

In [1]:
s=float(input('enter the percentage'))
print(s,type(s))

enter the percentage90.56
90.56 <class 'float'>

## Control flow statements
- conditional statemnets
    - if-else
- Loop statements
    - While
    - For

In [3]:
n=int(input())
if n%2==0:
    print("even")
else:
    print("odd")

55
odd

## read a character and Upper case or lower case
### ASCII :
- A-Z : 65-90
- a-z :97-122
- 0-9 : 48-57
- space : 32
- ord('char') - ASCII

In [9]:
x=input()
if ord(x) >=65 and ord(x) <=90:
    print('Upper Case Character')
elif ord(x) >=97 and ord(x) <=122:
    print('Lower Case Character')

P
Upper Case Character

In [25]:
print(ord('a'))
print(ord('A'))
print(ord('0'))
print(ord(' '))

97
65
48
32

In [29]:
# read the char and print the output from lowercase to uppercase and vice versa
# a-A
# A-a
x=input()
if ord(x) >=65 and ord(x) <=90:
    print(chr(ord(x)+32))
elif ord(x) >=97 and ord(x) <=122:
    print(chr(ord(x)-32))

a
A

In [27]:
print(chr(65))

A

In [30]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [33]:
# and or not
# while loop
# no fixed number of iterations
# for loop
# fixed number of iterations

In [37]:
# Print the natural numbers from 1 to N
n=int(input())
i=1
while i <= n:
    print(i,end = ' ')
    i+=1

10
1 2 3 4 5 6 7 8 9 10

In [38]:
# print the factors/divisors of the given number
n=int(input())
i=1
while(i<=n):
    if n % i ==0:
        print(i,end = ' ')
    i+=1

10
1 2 5 10

In [40]:
#print the digit of the given number
# 145 ---5 4 1
n=int(input())
while n !=0:
    print(n%10,end =' ')
    n=n//10

7894
4 9 8 7

In [42]:
range(5)

range(0, 5)

In [47]:
for x in range(5):
    print(x,end = ' ')

0 1 2 3 4

In [49]:
for x in range(1,11):
    print(x,end=' ')

1 2 3 4 5 6 7 8 9 10

In [51]:
for x in range(100,150,2):
    print(x,end=' ')

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [54]:
for x in range(150,100,-2):
    print(x ,end=' ')

150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120 118 116 114 112 110 108 106 104 102

### Data Structures in python
- Organizing the huge amount of data
- Makes the user to search,sort and filter the respective in simple manner
- Examples: Databases

### Data Structures in python
- List
- Tuples
- Dictionaries
- Sets

### List in python
- Common Data Structure in python
- Used to define the range/group of items under a same name
- List can be same type or different type
- List always enclosed in square brackets
- Every List item will be seperated by comma(,)
- List methods cannot be applied for heterogenous
- methods are connected with dot operator
### data binding operator(.)

In [56]:
li=[1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [60]:
# List with looping
for x in range(len(li)):
    print(li[x],end='  ')

1  2  3  4  5

In [74]:
l=[1999,"Kavya",'A',70.52]
for i in range(len(l)):
    print(l[i],end=' ')

1999 Kavya A 70.52

In [76]:
# Update,Delete
l[1]="jyothi"
print(l)

[1999, 'jyothi', 'A', 70.52]

In [77]:
del l[1]

In [79]:
print(l)

[1999, 'A', 70.52]

In [84]:
li=[19,1,25,6,9,12]
#List slicing
print(li[1:5])
print(li[:5])
print(li[2:-1])
print(li[-1])

[1, 25, 6, 9]
[19, 1, 25, 6, 9]
[25, 6, 9]
12

In [97]:
# List Methods and Functions
print(li)
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li)) # average

[19, 1, 25, 6, 9, 12]
25
1
72
6
12

In [99]:
li.append(100)
print(li)

[19, 1, 25, 6, 9, 12, 100, 100]

In [101]:
li.insert(2,90)
print(li)

[19, 1, 90, 90, 25, 6, 9, 12, 100, 100]

In [103]:
li.count(100)

2

In [118]:
li.reverse()
li

[25, 19, 12, 9, 6, 1]

In [107]:
li.pop()
li

[19, 1, 90, 90, 25, 6, 9, 12]

In [109]:
li.pop(2)
li

[19, 1, 25, 6, 9, 12]

In [111]:
li.sort()
li

[1, 6, 9, 12, 19, 25]

###  Functional Programming
- Reuse code block can be called as **Function**
- Function will remove the dupliacte of code
- Function will make programming more efficient
- function will decrease the length of code
-- def funcname(<parameters>):
    statements
    - FunName is always Camel Case (first letter of first word small and first letter of second word is capital and first letter of third word is capital)
    - Example : fact() , isPrime(), isPalindromeTest()
    - Parameters of the function is optional
    -In Python function can be defined by def keyword

In [113]:
# Define the function
def add():
    x=11
    y=12
    print(x+y)
    return #stops the function
# Call the function
add()

23

In [115]:
def square(x):
    print(x*x)
    return
square(10)

100

In [117]:
def cube(x):
    return x*x*x
cube(10)

1000

In [120]:
# Function to large number of list

li=[1, 6, 9, 12, 19, 25]
print(max(li))

25

In [122]:
# Function to print second largest of list
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1, 6, 9, 12, 19, 25]
secondlarge(li)

19

In [1]:
# function to find generic large value
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1, 6, 9, 12, 19, 25]
genericlarge(li,5)

6

# 7/01/2020
### Dictionaries
- Dictionaries are set of key-value  pairs

In [12]:
dic={'kavya':50,'jyothi':51,'ramya':52}
print(dic)

{'kavya': 50, 'jyothi': 51, 'ramya': 52}

In [4]:
d={}
print(d)

{}

In [7]:
dict={1:'kavya',2:'jyothi',3:'ramya',4:'swarna',5:'shabana'}
print(dict)

{1: 'kavya', 2: 'jyothi', 3: 'ramya', 4: 'swarna', 5: 'shabana'}

In [13]:
print(dict[2])

jyothi

In [19]:
dict.keys()

dict_keys([1, 2, 3, 4, 5])

In [21]:
dict.values()

dict_values(['kavya', 'jyothi', 'ramya', 'swarna', 'shabana'])

In [23]:
dict[1]='kav'
print(dict)

{1: 'kav', 2: 'jyothi', 3: 'ramya', 4: 'swarna', 5: 'shabana'}

In [27]:
# to print all elements in dictionary
for items in dict.items():
    print(items)

(1, 'kav')
(2, 'jyothi')
(3, 'ramya')
(4, 'swarna')
(5, 'shabana')

In [35]:
# functions in dictionaries
def dic(di):
    print(di)
di={1:'one',2:'two',3:'three'}
dic(di)

{1: 'one', 2: 'two', 3: 'three'}

In [33]:
dict[5]='susu'
print(dict)

{1: 'kav', 2: 'jyothi', 3: 'ramya', 4: 'swarna', 5: 'susu'}

In [39]:
dict.pop(2)
print(dict)

{1: 'kav', 4: 'swarna', 5: 'susu'}

In [41]:
dict.popitem()
print(dict)

{1: 'kav'}

In [46]:
x=di.popitem()
x

(3, 'three')

In [50]:
n=int(input())
d1={}
for i in range(n):
    d1[i]=input()
print(d1)

3
ram
jyo
kav
{0: 'ram', 1: 'jyo', 2: 'kav'}

In [1]:
n=int(input())
d2={}
for i in range(n):
    a=input()
    b=input()
    d2[a]=b
print(d2)

3
a
x
b
y
c
z
{'a': 'x', 'b': 'y', 'c': 'z'}

In [2]:
n=int(input())
d3={}
for i in range(n):
    x=input()
    y=int(input())
    d3[x]=y
print(d3)

3
t
5
y
8
i
9
{'t': 5, 'y': 8, 'i': 9}

In [2]:
d4={}
l=input()
l=l.split(',')
for i in l:
    t=i.split(':')
    d4[t[0]]=t[1]
print(d4)

1:2,3:4,5:6
{'1': '2', '3': '4', '5': '6'}

In [7]:
k=input()
y=k.split(' ')
d5={}
for i in range(1,len(y)+1):
    d5[i]=y[i-1]
print(d5)

today is tuesday
{1: 'today', 2: 'is', 3: 'tuesday'}

In [10]:
n=int(input())
d6={}
for i in range(n):
    x=int(input())
    y=input()
    d6[x]=y
print(d6)

3
1
a
2
p
2
l
{1: 'a', 2: 'l'}

### Tuples

In [12]:
t1=('kavya',1,'ram',2)
print(t1)

('kavya', 1, 'ram', 2)

In [14]:
t2=()
print(t2)

()

In [16]:
t3=[1,2,5]
print(tuple(t3))

(1, 2, 5)

In [18]:
t4=(1,4,5)
print(list(t4))

[1, 4, 5]

In [25]:
t5=("ramya")
print(t5)
type(t5)

ramya

str

In [41]:
t6=("ramya",)
print(t6)
type(t6)

('ramya',)

tuple

In [34]:
print(t6[0])

ramya

#### Tuple allows multiple duplicate values

In [2]:
t7=(1,1,2,3,5)
t7

(1, 1, 2, 3, 5)

#### Concatinate of two tuples

In [9]:
t8=(5,8,9)
t9=t7+t8
t9

(1, 1, 2, 3, 5, 5, 8, 9)

#### Tuple Membership

In [7]:
print('j' in 'jyothi')

True

In [11]:
print(t9.index(5))

4

In [21]:
print(t9.count(5))

2

#### Operations are not performed on tuple within tuple

In [17]:
tu=(1,2,3,(4,5,6))
tu
tu[3][0]

4

#### Operations are  performed on tuple within list

In [20]:
tup=(1,2,3,[4,5,6])
tup[3][0]=5
tup

(1, 2, 3, [5, 5, 6])

In [24]:
del tup[3][0]
tup

(1, 2, 3, [6])

In [51]:
def squares(l):
    l1=[]
    for j in l:
        s=l1.append(j**2)
    print(tuple(l1))
l=[1,2,3,4]
squares(l)

(1, 4, 9, 16)

#### Tuple Constructor

In [29]:
tu1=tuple(('jyo','kav','ram'))
tu1

('jyo', 'kav', 'ram')

In [39]:
tu2=("A","B","C","D","E")[2]
tu2

'C'

In [42]:
tu3=("A","B",["C","D"])[2][1]
tu3

'D'

In [44]:
tu4=("A","B","C","D")[-1]
tu4

'D'

In [48]:
tu5=("A","B",["C","D"])[-3]
tu5

'A'

In [55]:
l=(1,2,3,4,5,6,7,8)
print(l[1::2])

(2, 4, 6, 8)

In [58]:
tu6=[(),(),(' ',),('a','b'),('a','b','c'),('d')]
tu6=[t for t in tu6 if t]
print(tu6)

[(' ',), ('a', 'b'), ('a', 'b', 'c'), 'd']

#### Print the other values of list which are not started with letter 's'

In [89]:
list1=["sand","soil","sun","apple","orange","banana"]
list2=[]
for i in range(0,len(list1)):
    if(list1[i][0]!='s'):
        list2.append(list1[i])
print(list2)

['apple', 'orange', 'banana']

In [92]:
k=[(10,20,30),(40,50,60),(70,80,90)]
p=[]
for i in range(0,len(t)):
  l=list(k[i])
  l[-1]=int(input())
  p.append(tuple(l))
print(p)

50
40
20
[(10, 20, 50), (40, 50, 40), (70, 80, 20)]

In [94]:
def Sort(tu): 
    return(sorted(tu, key =lambda x:float(x[1]), reverse = True)) 
tu=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print(Sort(tu))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]