# 8/01/2020

### Tuples
- tuples are similar to list
- used to read the object data
- List is Mutable and Tuple are immutable
- List object can be used for insert,update,delete
- Tuple Object can only support for reading
- Tuple can be defined as with in paranthesis()

In [2]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [4]:
print(t1[0:3])

(1, 2, 3)

In [6]:
print(t1[2:-1])

(3, 4)

In [14]:
del t1[2] #delete can be performed because tuple is immutable

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1[1]=1900 #insert can be performed because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [15]:
for i in range(len(t1)):
    print(t1[i],end=' ')

1 2 3 4 5

### Dictionaries in Python

- General purpose data structure in python
- Dict object basically consists of key and value
- Dict object consists of unique key
- Dict object can be enclosed in curly braces
- one pair key and value is seperated by comma(,)
- Every key and value is seperated by colon symbol(:)

In [18]:
d1={"Name":"Jyothi","EmailID":"tvnagajyothi@gmail.com","phone":9897845612}
d1

{'Name': 'Jyothi', 'EmailID': 'tvnagajyothi@gmail.com', 'phone': 9897845612}

In [19]:
type(d1)

dict

In [21]:
print(d1["Name"])

Jyothi

In [23]:
d1.keys()

dict_keys(['Name', 'EmailID', 'phone'])

In [25]:
d1.values()

dict_values(['Jyothi', 'tvnagajyothi@gmail.com', 9897845612])

In [27]:
li=[]
li=d1.keys()
print(li)

dict_keys(['Name', 'EmailID', 'phone'])

In [29]:
len(d1.keys())

3

In [35]:
li=[]
for i in d1.keys():
    li.append(i)
li

['Name', 'EmailID', 'phone']

In [33]:
[*d1]

['Name', 'EmailID', 'phone']

In [37]:
li1=[]
li1=list(d1.keys())
li1

['Name', 'EmailID', 'phone']

In [42]:
li_values=[]
li_values=list(d1.values())
li_values

['Jyothi', 'tvnagajyothi@gmail.com', 9897845612]

In [43]:
del d1["Name"]

In [45]:
d1["Name"]="Gopal Rao T"
d1

{'EmailID': 'tvnagajyothi@gmail.com',
 'phone': 9897845612,
 'Name': 'Gopal Rao T'}

In [47]:
print(d1)

{'EmailID': 'tvnagajyothi@gmail.com', 'phone': 9897845612, 'Name': 'Gopal Rao T'}

In [48]:
del d1["phone"] # phone value and  key will deleted

In [49]:
del d1 # deletes whole dictionay

In [51]:
"Name" in li

True

In [52]:
"jyothi" in li

False

### Contact Application

- **List ,Tuple,Dict**
- Add a new contact details
- search contact
- Edit the contact
- delete the contact
- Sort the contact name-phone
- One name should have two numbers
- Print only names in sorted order

In [2]:
# Add a new contact details
contacts={} # empty Dict oject
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print(name,"Inserted Successfully")
    else:
        print(name,"already Exists")
    return
addContacts('jyothi',6852741896)# inserted
addContacts('swarna',7894565869)# inserted
addContacts('jyothi',7894565869)# error

jyothi Inserted Successfully
swarna Inserted Successfully
jyothi already Exists

In [4]:
contacts

{'jyothi': 6852741896, 'swarna': 7894565869}

In [3]:
# search contact
def searchContact(name):
    if name in contacts:
        return (name," : ",contacts[name])
    return "Contact is not  present"
print(searchContact('jyothi'))
print(searchContact('ramya'))

('jyothi', ' : ', 6852741896)
Contact is not  present

In [4]:
# Edit the contact
def editcontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"Not Exists")
    return
editcontact('swarna',6281177839)

swarna updated successfully

In [7]:
contacts

{'jyothi': 6852741896, 'swarna': 6281177839}

In [5]:
# delete the contact
def delcontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not Exist")
delcontact('swarna')

swarna deleted successfully

In [6]:
contacts

{'jyothi': 6852741896}

In [7]:
addContacts('kavya',5689745612)

kavya Inserted Successfully

In [8]:
addContacts('ramya',7894561237)
addContacts('abhi',8945612737)
addContacts('susumitha',895671423)
addContacts('shabana',8745961237)
addContacts('durga',9758641378)

ramya Inserted Successfully
abhi Inserted Successfully
susumitha Inserted Successfully
shabana Inserted Successfully
durga Inserted Successfully

In [9]:
contacts

{'jyothi': 6852741896,
 'kavya': 5689745612,
 'ramya': 7894561237,
 'abhi': 8945612737,
 'susumitha': 895671423,
 'shabana': 8745961237,
 'durga': 9758641378}

In [10]:
#  Sort the contact name-phone
def sortcontact(contacts):
    d={}
    for i in sorted(contacts):
        d[i]=contacts[i]
    print(d)
sortcontact(contacts)

{'abhi': 8945612737, 'durga': 9758641378, 'jyothi': 6852741896, 'kavya': 5689745612, 'ramya': 7894561237, 'shabana': 8745961237, 'susumitha': 895671423}

In [11]:
l=(sorted(contacts))

In [12]:
# One name should have two numbers
def twoContacts(name,phone1):
    if name in contacts:
        contacts[name]=contacts[name],phone1
    print(contacts)
twoContacts('jyothi',9105824896)

{'jyothi': (6852741896, 9105824896), 'kavya': 5689745612, 'ramya': 7894561237, 'abhi': 8945612737, 'susumitha': 895671423, 'shabana': 8745961237, 'durga': 9758641378}

In [14]:
# Print only names in sorted order
sorted(contacts)

['abhi', 'durga', 'jyothi', 'kavya', 'ramya', 'shabana', 'susumitha']

### SETS

In [18]:
a={}
a

{}

In [2]:
s={1,2,3,4}
s1={5,6}
s.update(s1)
s

{1, 2, 3, 4, 5, 6}

In [3]:
s1.add(7)
s1

{5, 6, 7}

In [5]:
s.discard(2)# does not throws error
s
s.remove(2)# throws an error if it is already deleted
s

KeyError: 2

In [9]:
s.discard(2)
s

{1, 3, 4, 5, 6}

In [14]:
s.pop()# removes random element
s

set()

In [19]:
s2={1,2,3,4}
s3={'a','b'}
s4=s2.union(s3)
print(s4)
s5=s2|s3
print(s5)

{1, 2, 3, 4, 'a', 'b'}
{1, 2, 3, 4, 'a', 'b'}

In [21]:
s2={2,3,4,1}
s2

{1, 2, 3, 4}

#### Built In Functions
- all()
- any()
- min()
- max()
- len()
- enumerate()
- sorted()
- sum()

In [25]:
s9={1,2,3,0}
all(s9)

False

In [27]:
any(s9)

True

In [29]:
min(s9)

0

In [31]:
max(s9)

3

In [33]:
len(s9)

4

In [35]:
sorted(s9)

[0, 1, 2, 3]

In [37]:
sum(s9)

6

In [42]:
s8={'Ramya','kavya','jyothi'}
ss=list(enumerate(s8))
ss

[(0, 'jyothi'), (1, 'Ramya'), (2, 'kavya')]

In [51]:
k='we are in school'
l=list(k)
s=" "
for i in range(len(k)):
    if(l[i]=='w'):
        l[i]='m'
for i in l:
    s=s+i
print(s)

 me are in school

In [55]:
l=['a','b','c','d']
l1=[]
for i in range(0,len(l)):
    l1.append(l[i]+l[-1])
print(l1)

['ad', 'bd', 'cd', 'dd']

In [57]:
s="AbbbAcB"
u=0
l=0
for i in range(0,len(s)):
    if(ord(s[i]) >= 65 and ord(s[i] )<= 90):
        u=u+1
    elif(ord(s[i]) >= 97 and ord(s[i]) <= 122):
        l=l+1
print("NO of Upper letters",u)
print("No of Lower letters",l)

NO of Upper letters 3
No of Lower letters 4

In [59]:
s=int(input()) 
for i in range(s):
    for i in range(s):
        print('*', end = '  ')
    print()

2
*  *
*  *

In [62]:
s="morning fog morning fog"
l=s.split()
l1=[]
s=" "
for i in range(0,len(l)):
    if(l[i]=="fog"):
        continue
    else:
        s=s+l[i]+" "
print(s,end="  ")

 morning morning